<ion-view view-title="Reg">

  <ion-pane>

    <ion-content class="padding">

      <div class="list">
        <input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
        <br>
        <input type="text" class="form-control input-lg text-center" placeholder="Apellido" ng-model="newPersona.apellido" required>
        <br>
        <input type="text" class="form-control input-lg text-center" placeholder="Edad" ng-model="newPersona.edad" required>
      </div>


      <button type="submit" class="button button-block button-positive" ng-click="registrarPersona()"  ng-disabled="myForm.$invalid || selected">Registrar</button>

    </ion-content>
  </ion-pane>
</ion-view>
